/**MOBILE**/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.header-container{
    background-color:rgb(122,231,246);
    display:flex;
    justify-content: space-between;
    align-items:center;
    min-width: 100%;
    height:12%;
}
.logo{
    width:15%;
    height:auto;
    margin-left:8px;
}

#date{
    width:18vh;
    height:auto; 
    margin-right:4px; 
}
.headline-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.headline{
    width:45vh;
    text-align:center;
    font-size: 2.5em;
    margin: 1em auto;
}
.sub-headline{
    width:35vh;
    text-align:center;
    font-size: 1.3em;
    margin: 1em auto;
}
.contact-us-btn{
    height: 2em;
    width: 80%;
    margin: 1em auto;
    background-color: #FEB1C0;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color:white;
    text-decoration:none;
    font-size: 16px;
    cursor:pointer;
    text-align:center;
    padding:30px 0px 20px 0px;
}
#success-form{
    margin: 1em auto;
    color:green;
    margin-top:0; 
}
.contact-us-btn:hover {
    letter-spacing: 0.8em;
    background-color: #F08C99;
  }

.hero-image-mobile{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.hero-image-desktop{
    width:0;
    visibility: hidden;
}
.text-section{
    margin:0;
    display:flex;
    flex-direction: column;
}
.text-container-one, .text-container-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom:20px;
}
.text-container-one{
    background-color:rgb(134,93,121);
}
.services-title, .gallery-title{
    font-size: 2.5em;
    width:60vh;
    margin-left: 0.3em;
    margin-bottom: 0;
}
.services-title{
    color:white;
}
hr{
    width:15%;
    margin-left: 3%;
    height:4px;
    border:none;
    background-color: #F08C99;  
}
.content-text{
    width:48vh;
    text-align:left;
    font-size: 1.3em;
    margin-top: 0;
    margin-left:30px; 
    color:white;
}

.text-container-two{
    display:flex;
    background-color: #FAC8CD;
    color:rgb(134,93,121);
    font-weight: bold;
    justify-content: space-around;
    font-size: 0.98em;
    padding: 15px 30px 15px 0; 
}

li{
    list-style-type: none;
    width:100%;
}

.gallery-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}
.gallery-section img{
    margin-top:15px;
    width: 60%;
    border:4px solid rgb(134,93,121);;
}
.contact-container{
   display: flex;
   flex-direction: column;
   background-color: rgb(122,231,246);
   margin-top:15px; 
}
.contact-text{
    width:48vh;
    text-align:left;
    font-size: 1.3em;
    margin-top: 0;
    margin-left:30px; 
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    height: 2em;
    width: 80%;
    margin: 1em auto;;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 16px;
    text-align:center;
    padding:30px 0px 20px 0px;
}

/**SMALL SCREEN**/

@media only screen and (min-width: 767px) {
.logo{
    width:7%;
}
.headline{
        width:65vh;
    }
.sub-headline{
        width:45vh;
    }
.contact-us-btn, form input{
        height: 1em;
        width: 45%;       
    }
.hero-image-mobile{
        width: 80%;
    }
.content-text{
        width:98vh;
        margin-left:60px; 
    }
.services-title, .gallery-title{
        margin-left: 0.8em;
    }
hr{
        margin-left: 4.5%;
  
    }
.text-container-two{
        font-size: 1.2em;   
    }
.gallery-section img{
        width: 40%;
    }
.gallery-container{
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
        flex-wrap: wrap;  
    }
.contact-text{
        width:120vh; 
    }


}

/**Medium Screen**/

@media only screen and (min-width: 960px) {
.header-container{
        height:5vw;
    }
.logo{
        width:10vh;
        margin-left:25px;
    }
#date{
        width:30vh;
        margin-right:20px; 
    }
.headline{
        width:85vh;
        font-size: 3.5em;
        margin-bottom: 0;
    }
.sub-headline{
        width:55vh;
        font-size: 1.6em;
    }
.contact-us-btn{
    width:24%;
}
.contact-container .contact-us-btn, form input{
        height: 0.9em;
        width: 60%;       
    }
.hero-image-mobile{
        visibility: hidden;
        width: 0;
    }
.hero-image-desktop{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        visibility: visible;
    }
.text-section{
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
.text-container-one, .text-container-three{
        width:49%;
    }
.text-container-two{
        width:47.8%;
        font-size: 1.3em;
        letter-spacing: 2px;
    }
li{
        margin: 10px 0;
      }
.content-text{
        width:80%;
        margin-left:30px; 
    }
.gallery-section img{
        width: 20%;
    }
.contact-text{
        width:80vh; 
    }
.contact-container{
        flex-direction: row;
        flex-wrap: wrap;
 
     }
form{
        width:48%;
    }
.text-container-three{
    border-right: 1px solid rgba(0, 0, 0, 0.24);
}

}
